<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:name=".app.WindowStreamViewerApplication"
        android:allowBackup="false"
        android:label="WindowStream Viewer"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <activity
            android:name=".app.MainActivity"
            android:exported="true" />
        <activity
            android:name=".demo.DemoActivity"
            android:exported="true" />
    </application>
</manifest>
